*{
    color:white;
}
body{
<<<<<<< HEAD
<<<<<<< HEAD
    background:brown;
=======
    background: brown;
=======
    background:brown;
>>>>>>> emplyee1
}
h1{
    border: 1px solid white;
    border-radius: 20px;
>>>>>>> emplyee1
}